html{
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(241, 221, 108, 0.685);
}

h2{font-weight: bold;}
p,li {color: rgb(7, 35, 121)}

#dog1 {width: 900px;}
#cat1 {width: 900px;}

.remark {color:rgb(101, 100, 100);
        font-size: smaller;}
a:hover{font-style: italic;
color:rgb(251, 44, 106);}

img {width:500px;}

body {
 width: 1000px;
 margin: 0 auto; /* 0 сверху, auto снизу и справа */
 background-color: aquamarine;
 padding: 0px 20px 20px 20px; /*в порядке сверху, справа, снизу, слева */
 border: 2.5mm ridge rgba(197, 26, 26, 0.855);
}

h1{
    font-weight: bolder;
    margin: 0;
    padding: 20px 0;
    text-shadow: -1px -1px 3px rgba(197, 26, 26, 0.855);
}

img {width:500px;}