html{
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(241, 221, 108, 0.685);
}

h1{font-weight: bolder;}
h2{font-weight: bold;}
p,li {color: rgb(13, 47, 150)}

#dog1 {width: 900px;}
#cat1 {width: 900px;}

.remark {color:grey;
        font-size: smaller;}
a:hover{font-style: italic;
color:rgb(237, 32, 94);}

img {width:500px;}