* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gilroy', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header {
    padding-top: 40px;
    padding-bottom: 84px;
}

.head__nav {
    width: 533px;
    display: flex;
    justify-content: space-between;
}

.nav__link {
    padding-top: 11px;
    padding-bottom: 12px;
    font-size: 14px;
    font-weight: 600;
}

#home_page_link {
    color: #F25822;
}

.nav__link:hover {
    background-color: rgba(247, 157, 124, 0.853);
    color: black;
}

.promo {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.promo__title {
    font-size: 60px;
    font-weight: 700;
}

.promo__text {
    font-size: 20px;
    color: #888;
}

.promo__buttons {
    display: flex;
    justify-content: space-between;
}

#start_button {
    width: 140px;
    height: 50px;
    background-color: #F25822;
    border-radius: 50px;
    border: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    margin-right: 36px;
}

#watch_button {
    width: 140px;
    height: 50px;
    background-color: #f2592200;
    border-radius: 50px;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    color: #AAA;
}

#watch_button:hover {
    background-color: #434ec9;
    color: #FFF;
}

.footer {
    padding-top: 97px;
    padding-bottom: 96px;
}