* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
    font-family: 'Gilroy', sans-serif;
}

.container {
    /* width: 1170px; */
    display: grid;
    justify-content: center;
    align-content: center;
}

.item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.features {
    padding: 100px 0;
    background-color: #fff;
    display: grid;
    gap: 61px;
    grid-template-columns: 310px 370px 310px;
    justify-content: center;
}

.feature__item {}

.services {
    padding-right: 375px;
    padding-left: 375px;
    padding-bottom: 100px;
    background-color: #c8c4c4;
    /* #FAFAFA; */
    display: grid;
    gap: 30px;
    grid-template-areas:
        "a a a"
        "b c d";
    justify-content: center;
}

.item__title {
    grid-area: a;
    align-items: center;
}

.item__title__heading {}

.item__title__desc {}

.service__item {
    height: 549px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 50px;
    justify-content: space-between;
}

.service__item__desc {
    text-align: center;
}